.MuiPaper-root.MuiPaper-elevation2 {
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(44, 40, 40, 0.11);
  .MuiToolbar-regular {
    min-height: auto;
    padding: 20px 15px 25px 30px;
    h6 {
      font-weight: 700;
      font-size: 25px;
    }
  }
}

table.MuiTable-root {
  tr {
    th:first-child, td:first-child {
      padding-left: 30px !important;
    }

    td {
      color: #474747 !important;
      &:last-child {
        padding-right: 13px !important;
      }
    }
  }

  tbody tr:nth-child(even){
    background-color: #F7FAFC;
  }
}


.MuiTableRow-root.Mui-selected, .MuiTableRow-root.Mui-selected:hover {
  background-color: transparent !important;
}

