$breakpoints: (
	xsmall  : 500px,
	small  : 768px,
	medium : 992px,
  large  : 1367px
);

// Media query mixins
@mixin breakpoint($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media (min-width: #{map-get($breakpoints, $breakpoint)}) {
			@content;
		}
	}
}