@import '../../../styles/colors'; 

.sidebar {
  height: 100%;
  min-height: 100vh;
  background-color: #fff;;
  padding: 0 30px;
  .logo {
    padding: 5px 0 30px;
    display: flex;
    align-items: center;
    img {
      width: 70px;
      height: 70px;
      margin-right: 15px;
    }
    span {
      letter-spacing: 2px;
      font-weight: 600;
      font-size: 16px;
      text-decoration: none;
    }
  }
  .list-item {
    margin-bottom: 20px;
    padding: 0px;
    .nav-item{
      display: flex;
      align-items: center;
      padding: 13px 10px 13px 20px;
      width: 100%;
      text-decoration: none;
      font-size: 20px;
      color: #202224;
      border-radius: 10px;
      transition: .2s ease-in;
      &:hover, &:focus, &.is-active {
        background-color: $primary;
        color: #fff;
        svg {
          fill: #fff;
        }
      }

      .nav-ico {
        margin-right: 20px;
        color: $txt-main;
      }
    }
  }
}

