@import '../../../styles/colors'; 
@import '../../../styles/mixins'; 

.grow {
  flex-grow: 1;
  .app-bar {
    background-color: $bg-light;
    box-shadow: 20px 1px 20px rgba(44, 40, 40, 0.11);
    .header-link-icon {
      color: $txt-main;
    }
    .section-desktop {
      display: none;
      @include breakpoint(small)  {
        display: flex;
      }
    }
    .section-mobile {
      display: flex;
      @include breakpoint(small)  {
        display: none;
      }
    }
  }
}

  



